<style>
    .flex-box {
        display: flex;
        font-size: 16px;
        flex-wrap: wrap;
        width: 1140px;
        margin: auto;
    }

    .boat {
        min-width: 200px;
        padding: 10px;
        margin: 10px;
        background-color: #fff;
        border: 0 none #fff;
        border-radius: 15px;
    }

    .boat ul {
        padding-left:25px
    }
    .boat li.boat_head {
        font-weight: 700;
        font-style: normal;
    }
    .boat li {
        font-style: italic;
    }

    .pagination_bar {
        display: flex;
        justify-content: flex-end;
        width: 1140px;
        margin: auto;
    }
    .pagination_button {
        font-size: 20px;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 2px 2px 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 30px;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-top: 20px;
        align-items: center;
    }
</style>

{% extends "base.html" %}
{% block body %}
    {% set prev_page = page - 1 %}  <!-- variables in jinja --->
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="flex-box">
            {% for boat in boats %}
                <div class="boat">
                    <ul>
                        <li class="boat_head">Boat id: {{ boat['id'] }}</li>
                        <ul>
                            <li>Name: {{ boat['name'] }}</li>
                            <li>Type: {{ boat['type'] }}</li>
                            <li>Owner ID: {{ boat['owner_id'] }}</li>
                            <li>Price: {{ boat['rental_price'] }}</li>
                        </ul>
                    </ul>
                </div>
            {% endfor %}

            {% if boats | length < 1 %}
                <h1>No data available</h1>
            {% endif %}
        </div>

        <div class="pagination_bar">
            {% set query_string = "" %}
            {% if search_params %}
                {% set query_parts = [] %}
                {% if search_params.id %}
                    {% set _ = query_parts.append("id=" + search_params.id) %}
                {% endif %}
                {% if search_params.name %}
                    {% set _ = query_parts.append("name=" + search_params.name) %}
                {% endif %}
                {% if search_params.type %}
                    {% set _ = query_parts.append("type=" + search_params.type) %}
                {% endif %}
                {% if search_params.owner_id %}
                    {% set _ = query_parts.append("owner_id=" + search_params.owner_id) %}
                {% endif %}
                {% if search_params.rental_price %}
                    {% set _ = query_parts.append("rental_price=" + search_params.rental_price) %}
                {% endif %}
                {% set query_string = "?" + query_parts|join("&") %}
            {% endif %}

            <a href= "{{ "/boats/"+ (page - 1) | string + query_string }}" class="pagination_button"> < </a>
            <a class="pagination_button" style="background-color: black"> {{page}} </a>
            <a href="{{ "/boats/"+ (page + 1) | string + query_string }}" class="pagination_button" > {{ page + 1 }} </a>
            <a href="{{ "/boats/"+ (page + 2) | string + query_string }}" class="pagination_button"> {{ page + 2 }} </a>
            <a href="{{ "/boats/"+ (page + 1) | string + query_string }}" class="pagination_button"> > </a>
        </div>
    </div>


{% endblock %}